* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgba(100, 46, 95, 0.116);
}

#root {
  margin: 20px 200px;   
}

/*для навигационной панели*/
.nav_panel {
    background-color:rgb(87, 20, 87);
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav_panel div {      
    text-align: center;
    padding: 15px 15px;
}

.nav_panel div a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav_panel div:first-child {
    font-weight: 900;
}

.nav_panel div:first-child a:hover, div:nth-child(2) a:hover, div:nth-child(3) a:hover {
    text-shadow: 2px 2px 4px white;
    transition: 0.3s;    
    -moz-transition: 0.3s;
}

/*стилизация кнопки "Выйти"*/
#logout_btn {
    border: 0px;
    border-radius: 5px;
    padding: 4px 25px;
    transition: 0.3s;
    border: 3px solid white;
    -moz-transition: 0.3s;
}

#logout_btn:hover {
    background-color: white;
    color: rgb(87, 20, 87);
    cursor: pointer;
}

/*Модальное окно при отсутствии авторизованного пользователя скрыто (изначальное состояние)*/
#modal {
    display: none;
}

/*Стилизация модального окна*/
.modal {
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;    
    border: 1px solid #888;
    width: 30%;
    font-size: 16px;
    border: 4px solid rgb(87, 20, 87);
    text-align: center;
  }
  
  .modal-content h3 {
    background-color: rgb(80, 19, 80);
    color: white;
    padding: 15px;
  }

.modal-content p {
    margin: 0px auto;
}

    .modal-content .input_fields {
        padding:  30px;
    }

  .modal-content input {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;
    padding: 15px;
    outline: none;
    width: 90%;
    transition: 0.3s;
    -webkit-transition: 0.3s;    
  }

  .modal-content button {
    background: rgb(87, 20, 87);
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 90%;
    transition: 0.3s;
    border: 1px solid rgb(87, 20, 87);
    margin: 0 auto;
    font-size: 16px;
  }

.modal-content .input_fields p {
    margin: 20px auto;
    font-size: 14px;
}
  
.modal-content .input_fields input:focus {
    border: 1px solid rgb(19, 19, 19)
}

.modal-content .input_fields button:hover {
    background: rgba(255, 0, 221, 0.247);
    color: rgb(3, 3, 3);
    cursor: pointer;
    }
  
/*Вкладка "Выставить оценки", содержимое*/
#parameters_choice {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border: 2px solid rgb(87, 20, 87);
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px darkgrey;
}

#parameters_choice h3 {
    margin-bottom: 30px;
    text-align: center;
}

#parameters_choice form {
    text-align: center;
}

#parameters_choice label {
    display: inline-block;   
    width: 190px;
    font-size: 18px;
    text-align: left;
}

#parameters_choice select {
    width: 40%;
    height: 40px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

#parameters_choice option {
    height: 40px;
    
}

#notifications {
    height: 20px;
    margin: 10px 0 20px 0;
    color: rgb(189, 58, 58);
}

#evaluate_button {
    background: rgba(100, 46, 95, 0.116);
    font-family: 'Montserrat', sans-serif;
    color: rgb(87, 20, 87);
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 150px;
    margin: 0 auto;
    border: 2px solid rgb(87, 20, 87);
    font-weight: 700;
}

/*Окошко для подтверждения критериев*/
#confirmation_window {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border: 2px solid rgb(87, 20, 87);
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px darkgrey;
}

#confirmation_window h4 {
    text-align: center;
    margin-bottom: 20px;
}

#confirmation_window table {   
    margin: 0 auto 20px auto;
}

#confirmation_window table td {
    width: 210px;
    height: 25px;
}

.confirmation_buttons {
    text-align: center;
}

.confirmation_buttons button{
    width: 200px;
    height: 45px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    background-color: rgb(87, 20, 87);
    border-radius: 5px;
    font-weight: 600;
}

/*окошки с выставлением оценок*/
#evaluation_window {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border: 2px solid rgb(87, 20, 87);
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px darkgrey;
    margin-top: 20px;
}

#next_criteria {
    text-align: right;
}
#next_criteria button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

#next_criteria button svg {
    pointer-events: none;
}

#criteria_stars {
    margin: 20px 0;
    display: flex;
}

.stars {
    cursor: pointer;
    display: flex;
}
.stars:hover .star polygon {
    fill: rgb(87, 20, 87) !important;
}
.stars .star polygon {
    fill: #d8d8d8;
}
.stars .star:hover ~ .star polygon {
    fill: #d8d8d8 !important;
}
.stars[data-stars] .star polygon {
    fill: rgb(87, 20, 87);
}
.stars[data-stars="1"] .star:nth-child(1) ~ .star polygon {
    fill: #d8d8d8;
}
.stars[data-stars="2"] .star:nth-child(2) ~ .star polygon {
    fill: #d8d8d8;
}
.stars[data-stars="3"] .star:nth-child(3) ~ .star polygon {
    fill: #d8d8d8;
}
.stars[data-stars="4"] .star:nth-child(4) ~ .star polygon {
    fill: #d8d8d8;
}
.stars[data-stars="5"] .star:nth-child(5) ~ .star polygon {
    fill: #d8d8d8;
}

/*Оставление комментариев*/
#leave_comment {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border: 2px solid rgb(87, 20, 87);
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px darkgrey;
    
}


#leave_comment h3 {
    margin-bottom: 10px;
}
#leave_comment p {
    margin-bottom: 20px;
    font-size: 14px;
}
#leave_comment textarea {
    width: 100%;
    height: 100px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}
#leave_comment .button_area {
    text-align: right;
    width: 100%;
}

#leave_comment .button_area button {
    margin-top: 10px;
    background: rgb(87, 20, 87);
    color: #fff;
    width: 150px;
    border: 0px;
    border-radius: 5px;
    padding: 10px;      
    transition: 0.3s;
    border: 1px solid rgb(87, 20, 87);    
    font-size: 16px;
}

#leave_comment .button_area button:hover {
    background-color: rgb(220, 147, 235);
    color: rgb(87, 20, 87);
    cursor: pointer;
}

#thank_you_window {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border: 2px solid rgb(87, 20, 87);
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px darkgrey;
    text-align: center;
}

#thank_you_window p {
    margin: 15px 0px;
}

#thank_you_window table {
    margin: 0 auto;
}

#thank_you_window table td {
    width: 30%;
}

#thank_you_window button {
    margin-top: 20px;
    background: rgb(87, 20, 87);
    color: #fff;
    width: 150px;
    border: 0px;
    border-radius: 5px;
    padding: 10px;      
    transition: 0.3s;
    border: 1px solid rgb(87, 20, 87);    
    font-size: 16px;
}

#thank_you_window button:hover {
    background-color: rgb(220, 147, 235);
    color: rgb(87, 20, 87);
    cursor: pointer;
}
