* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
}



/*Стилизация модального окна*/
.modal {
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    background: url("pic/students_background.jpg");
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;   
    text-align: center;
}

.modal h1{
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #70DFB2;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    display: inline-block;    
}

.modal h3 {
	color: whitesmoke;
	font-size: 16px;
}

:root {
	/* COLORS */
	--white: #e9e9e9;
	--turquoise: #70DFB2;

	/* RADII */
	--button-radius: 0.7rem;

	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form__title {
	font-weight: 300;
	margin: 0;
	margin-bottom: 1.25rem;
	font-size: 16px;
}

.container {
	background-color: white;
	border-radius: 0.7rem;
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	height: 380px;
	max-width: 758px;
	overflow: hidden;
	position: relative;
    width: 100%;
    margin: 30px auto 0 auto;
}

.container__form {
	height: 100%;
	position: absolute;
	top: 0;
	transition: all 0.6s ease-in-out;
}

.container--signin {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .container--signin {
	transform: translateX(100%);
}

.container--signup {
	left: 0;
	opacity: 0;
	width: 50%;
	z-index: 1;
}

.container.right-panel-active .container--signup {
	animation: show 0.6s;
	opacity: 1;
	transform: translateX(100%);
	z-index: 5;
}

.container__overlay {
	height: 100%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: transform 0.6s ease-in-out;
	width: 50%;
	z-index: 100;
}

.container.right-panel-active .container__overlay {
	transform: translateX(-100%);
}

.overlay {
	background-color: var(--white);
	background: url("pic/students_background.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: -100%;
	position: relative;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 200%;
}

.container.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay__panel {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: absolute;
	text-align: center;
	top: 0;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 50%;
}

.overlay--left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay--left {
	transform: translateX(0);
}

.overlay--right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay--right {
	transform: translateX(20%);
}

.btn {
	background-color: var(--turquoise);	
	border-radius: 20px;
	border: 1px solid var(--turquoise);
	color: var(--white);
	cursor: pointer;
	font-size: 0.6rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.form > .btn {
	margin-top: 1.5rem;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

.form {
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
	height: 100%;
	text-align: center;
}

.input {
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
	width: 100%;
}

#navigation {
    display: none;
}




/*для навигационной панели*/
.nav_panel {    
    padding: 0px 200px;   
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--white);
}

.nav_panel div {      
    text-align: center;
    line-height: 60px;
    font-size: 16px; 
}

.nav_panel div:first-child  {
    color: var(--turquoise);
    font-weight: 900;
}

.nav_panel div a { 
    text-decoration: none;
    padding: 10px;
    color: black;
}

.nav_panel div:nth-child(2) a:hover, div:nth-child(3) a:hover, div:nth-child(4) a:hover {
    border-top: #60606e solid 1px;
    transition: 0.3s;    
    -moz-transition: 0.3s;
}

/*стилизация кнопки "Выйти"*/
#logout_btn {
    background-color: var(--turquoise);	
	border-radius: 20px;
	border: 1px solid var(--turquoise);
	color: white;
	cursor: pointer;
	font-size: 0.6rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 10px 30px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#logout_btn:active {
	transform: scale(0.95);
}

#logout_btn:focus {
	outline: none;
}


#root {
    padding: 20px 200px;
}

/*Вкладка info*/
.header {
	background: url("pic/books2.png") no-repeat;
	background-size: cover;
	width: 100%;
	height: 850px;	
}

.container_info {	
	display: flex;
	padding: 80px 200px;
	justify-content: space-between;
}

.container_info #info {
	width: 60%;
}


.header h1 {
    color: #60606e;
    font-size: 40px;
    font-weight: 900;
    display: inline-block;
    line-height: 48px;    
	color: var(--turquoise);
	
}

.header .project_description {
	display: inline-block;
	margin-left: 20px;
	color: #60606e;
    font-size: 16px;
    font-weight: 400;    
    text-align: justify;
	line-height: 1.7em;
	margin-top: 20px;
}



.header #numbers_boxes {
	margin-top: 100px;	
}

.counter {		
	margin-bottom: 40px;
	display: flex;
	align-items: center;
}

.numbers {
	display: inline-block;
	width: 70px;
	height: 70px;
	color: var(--turquoise);
	font-size: 70px;
	font-weight: 900;
	margin-right: 20px;
}

.texts {
	display: inline-block;
	width: 220px;
}


/*Вкладка "Выставить оценки", содержимое*/
#parameters_choice {
    background-color: var(--white) ;
	border-radius: 0.7rem;
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    padding: 30px 0;
	max-width: 758px;
	overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

#parameters_choice h3 {
    margin-bottom: 30px;
	text-align: center;
	font-size: 16px;
}

#parameters_choice form {
    text-align: center;
}

#parameters_choice label {
    display: inline-block;   
    width: 190px;
    font-size: 14px;
    text-align: left;
}

#parameters_choice select {
    width: 40%;
    height: 30px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: var(--white);
    cursor: pointer;
}

#notifications {
    height: 20px;
    margin: 10px 0 20px 0;
	color: var(--turquoise);
	font-size: 12px;	
}

#evaluate_button {
    background-color: var(--turquoise);	
	border-radius: 20px;
	border: 1px solid var(--white);	
	font-size: 0.6rem;	
	letter-spacing: 0.1rem;
	padding: 10px 30px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;    
    font-family: 'Montserrat', sans-serif;   
    display: block;    
    margin: 0 auto;    
    font-weight: 700;
}

#evaluate_button:active {
	transform: scale(0.95);
}

#evaluate_button:focus {
	outline: none;
}




/*Окошко для подтверждения критериев*/
#confirmation_window {
    background-color: var(--white) ;
	border-radius: 0.7rem;
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    padding: 20px;
	max-width: 758px;
	overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

#confirmation_window h4 {
    text-align: center;
	margin-bottom: 20px;
	font-size: 14px;
}

#confirmation_window table {   
    margin: 0 auto;
}

#confirmation_window table td {
    width: 210px;
	height: 25px;
	font-size: 14px;
}

.confirmation_buttons {
    text-align: center;
}

.confirmation_buttons button{
    background-color: var(--turquoise);	
	border-radius: 20px;
	border: 1px solid var(--turquoise);
	color: white;
	cursor: pointer;
	font-size: 0.6rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 10px 30px;
	text-transform: uppercase;
    transition: transform 80ms ease-in;
    width: 220px;
    margin: 10px;
}


.confirmation_buttons button:active {
	transform: scale(0.95);
}

.confirmation_buttons button:focus {
	outline: none;
}

/*окошки с выставлением оценок*/
#evaluation_window {
    background-color: var(--white) ;
	border-radius: 0.7rem;
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    padding: 20px;
	max-width: 758px;
	overflow: hidden;
    width: 100%;
	margin: 30px auto 30px auto;
	position: relative;
}

@keyframes slide {
    from {
		right: 0;
	}
	to {
		right: 1600px;	
	}
}

#evaluation_window p {
	font-size: 14px;
}

#next_criteria {
    text-align: right;
}
#next_criteria button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

#next_criteria button svg {
    pointer-events: none;
}

#criteria_stars {
    margin: 20px 0;
    display: flex;
}

.stars {
    cursor: pointer;
    display: flex;
}
.stars:hover .star polygon {
    fill: var(--turquoise) !important;
}
.stars .star polygon {
    fill: #d8d8d8;
}
.stars .star:hover ~ .star polygon {
    fill: #d8d8d8 !important;
}
.stars[data-stars] .star polygon {
    fill: var(--turquoise);
}
.stars[data-stars="1"] .star:nth-child(1) ~ .star polygon {
    fill: #d8d8d8;
}
.stars[data-stars="2"] .star:nth-child(2) ~ .star polygon {
    fill: #d8d8d8;
}
.stars[data-stars="3"] .star:nth-child(3) ~ .star polygon {
    fill: #d8d8d8;
}
.stars[data-stars="4"] .star:nth-child(4) ~ .star polygon {
    fill: #d8d8d8;
}
.stars[data-stars="5"] .star:nth-child(5) ~ .star polygon {
    fill: #d8d8d8;
}

/*Оставление комментариев*/
#leave_comment {
    background-color: var(--white) ;
	border-radius: 0.7rem;
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    padding: 20px;
	max-width: 758px;
	overflow: hidden;
    width: 100%;
    margin: 30px auto 0 auto;
    
}


#leave_comment h3 {
    margin-bottom: 10px;
	text-align: center;
	font-size: 14px;
}
#leave_comment p {
    margin-bottom: 20px;
    font-size: 12px;
}
#leave_comment textarea {
    width: 100%;
    height: 100px;
    font-size: 14px;    
    box-sizing: border-box;
    background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
	width: 100%;
}
#leave_comment .button_area {
    text-align: right;
    width: 100%;
}

#leave_comment .button_area button {
    background-color: var(--turquoise);	
	border-radius: 20px;
	border: 1px solid var(--turquoise);
	color: white;
	cursor: pointer;
	font-size: 0.6rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 10px 30px;
	text-transform: uppercase;
    transition: transform 80ms ease-in;    
    margin: 10px;
}

#leave_comment .button_area button:active {
	transform: scale(0.95);
}

#leave_comment .button_area button:focus {
	outline: none;
}

#thank_you_window {
    background-color: var(--white) ;
	border-radius: 0.7rem;
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    padding: 30px;
	max-width: 758px;
	overflow: hidden;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#thank_you_window h3 {
	font-size: 14px;
} 

#thank_you_window p {
	margin: 15px 0px;
	font-size: 14px;
}

#thank_you_window table {
    margin: 0 auto;
}

#thank_you_window table td {
    width: 30%;
}

#thank_you_window table td:first-child {
	font-size: 12px;
    text-align: left;
}

#thank_you_window table td:nth-child(2){
    color: var(--turquoise);
    font-weight: 900;
    font-size: 16px;
}

#thank_you_window button {
    background-color: var(--turquoise);	
	border-radius: 20px;
	border: 1px solid var(--turquoise);
	color: white;
	cursor: pointer;
	font-size: 0.6rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 10px 30px;
	text-transform: uppercase;
    transition: transform 80ms ease-in;    
    margin: 20px;
}

#thank_you_window button:active {
	transform: scale(0.95);
}

#thank_you_window button:focus {
	outline: none;
}



/*Show rating route*/
#choose_uni {
    width: 10%;
    height: 30px;
    font-weight: 700;
    border-color: var(--white);
    cursor: pointer;
}

#textBoxSearch {
    height: 30px;
    width: 80%;
    display: block;
    float: right;
    box-sizing: border-box;
    border-color: var(--white);
    padding: 5px;
}

#textBoxSearch:focus {
	background-color: #fff;
}

/*блок с маленькими карточками*/
#littleCardsBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Оформление маленькой карточки*/
.littleCard {
    background-color: var(--white) ;
	border-radius: 0.7rem;
    padding: 20px;
	/*max-width: 758px;*/
	overflow: hidden;
    margin-top: 30px; 
    width: 270px;
}

.littleCard .personalPhoto {
    height: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 25px;
}

.littleCard p {
	margin-bottom: 7px;  
	font-size: 14px;   
}

.littleCard span {
    color: var(--turquoise);
}

.littleCard button {
    display: block;
    background-color: var(--turquoise);	
	border-radius: 20px;
	border: 1px solid var(--turquoise);
	color: white;
	cursor: pointer;
	font-size: 0.6rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 10px 20px;
	text-transform: uppercase;
    transition: transform 80ms ease-in; 
    margin: 0 auto;
}

.littleCard button:active {
	transform: scale(0.95);
}

.littleCard button:focus {
	outline: none;
}


/*это для большой карточки*/
/*Стилизация модального окна*/
.modal-bigCard {
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover; 
    padding-top: 100px; /* Location of the box */
}

.bigCard {
    width: 40%;
    background-color: var(--white) ;
    border-radius: 0.7rem;
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
        0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    margin: 0 auto;
    padding: 30px;
    overflow: auto;
    height: 70%;
    
    
}



.bigCard img {
    float: left;
    margin-right: 20px;

}

.bigCard p {
    margin: 20px 0; 
    font-weight: 900;
    text-align: center;
}

.bigCard td {
    width: 220px;  
	height: 40px;
	font-size: 14px
}

.bigCard td span {
	color: var(--turquoise);
}

.bigCard #criteria_table tr:nth-child(2n) {
    background-color: white;	
}

.bigCard #criteria_table td{
    padding: 5px 10px;
}

.bigCard #comment_block {
	background-color: var(--turquoise);	
	border-radius: 20px;
	border: 1px solid var(--turquoise);
	color: white;
	font-size: 0.8rem;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 20px;
	
}

.bigCard #comment_block p:first-child {	
	margin: 0 0 5px 0;
	text-align: left;
}

.bigCard #comment_block p:nth-child(2) {
	background-color: white;
	color: black;	
	border: 1px solid var(--turquoise);
	margin: 0;
	text-align: left;
	padding: 5px;
	font-size: 12px;
}

.bigCard button {
    background-color: var(--turquoise);	
	border-radius: 20px;
	border: 1px solid var(--turquoise);
	color: white;
	cursor: pointer;
	font-size: 0.6rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 10px 30px;
	text-transform: uppercase;
    transition: transform 80ms ease-in; 
    display: block;
    margin: 0 auto;
}

.bigCard button:active {
	transform: scale(0.95);
}

.bigCard button:focus {
	outline: none;
}
